<!--  Seach Bar -->
{{#if search}}
  <form class="form-inline my-2 my-lg-0" id="search-bar">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" >
  </form>
{{/if}}

<!--  Add link -->
<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
  <li class="nav-item">
    <a class="nav-link" href="/internship/add">Add</a>
  </li>
</ul>
<!-- Intenrships -->
{{#each internships}}
  <h1 id={{this.company}}>{{this.company}}
    <button type="button" id="like-{{this.company}}" name="like-{{this.company}}">&uarr; - <span>{{this.popularity}}<span></button>
  </h1>
{{/each}}
